{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Login {% endblock %}
{% block extraStatic %}
<link href="{% static 'css/forms.css' %}?{% cache_bust %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% if not user.is_authenticated%}
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
      
  {% endif %}
  <h1>Log-in</h1>
  <p>Please, use the following form to log-in:</p>
  <form method="post" action="{% url 'login' %}" class="form-view">
      {% csrf_token %}
      <ul>
        {% for field in form %}
          <li>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              {% for error in field.errors %}
                <span class='error-span'>{{error}}</span>
              {% endfor %}
            {% else %}
              {% if field.help_text %}
                <span>{{ field.help_text|safe }}</span>
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
        <li><div>
            <input type="submit" value="Login"/>
            <input type="hidden" name="next" value="{{ next }}" />
          </div></li>
      </ul>
    </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% else %}
  <p>Already logged in.</p>
{% endif %}
{% endblock %}