{% extends "base.html" %}
{% load staticfiles % }
{% block extraStatic %}
	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<!-- end Bootstrap -->
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<!-- Employee List -->
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">Employees</div>
					{% if employee_list %}
					    <ul class="list-group list-group-flush">
		    			{% for employee in employee_list %}
		    			<li class="list-group-item"><a href="{% url 'management:employee' employee.id %}">{{employee.profile.user.first_name}} {{employee.profile.user.last_name}}</a></li>
		    			{% endfor %}
		    			</ul>
	    			{% else %}
	    				<div class="card-body">
	    					<p>No employees exist</p>
	    				</div>
					{% endif %}
				</div>
			</div>
			<!-- Customer List -->
			<div class="col-md-4">
				<div class="card">
	  				<div class="card-header">Events</div>
					{% if event_list %}
					    <ul class="list-group list-group-flush">
		    			{% for event in event_list %}
		        		<li class="list-group-item"><a href="{% url 'event-update' event.id %}">{{event}}</a></li>
		    			{% endfor %}
		    			</ul>
	    			{% else %}
	    				<div class="card-body">
	    					<p>No Events Exist</p>
	    				</div>
					{% endif %}
				</div>	
			</div>
			<!-- Manager Tools -->
			<div class="col-md-4">
				<div class="card">
	  				<div class="card-header">Tools</div>
		  				<div class="card-body">
		    				<a href="{% url 'management:create_employee' %}" class="btn btn-primary">Create Employee</a>
		    				<br>&nbsp;</br>
		    				<a href="#" class="btn btn-primary">Get Temp Employee</a>
		    			</div>
	  				</div>
				</div>	
			</div>
		</div>
	</div>




{% endblock %}