#events {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

#events td, #events th {
    border: 1px solid #ddd;
    padding: 8px;
}

#events td warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

#events td error {
    color: #D8000C;
    background-color: #FFD2D2;
}
#events td success{
    color: #4F8A10;
    background-color: #DFF2BF;
}
#events td info{
    color: #00529B;
    background-color: #BDE5F8;
}


#events tr:nth-child(even){background-color: #f2f2f2;}

#events tr:hover {background-color: #ddd;}

#events th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #809ecc;
    color: white;
}